<section id="wrapper">
    <div class="header_top">
        <span class="logo">Campusca</span>
    </div>
    <div class="content_inner">
        <div class="content_text" style="width: 640px;">
            <span style="display:block; font-weight: bold; font-size: 10pt; padding-bottom: 10px;">
                <style>
                    p {margin:30px 100px;text-align:left;}
                    a,a:hover {color:inherit;font:inherit;}
                </style>
                <span class="neg" style="color: blue">ERROR <span style="color: red">#<%= status %></span>(<%= error %>)</span>
                <p>
                    Press the '<a href="#" style="color: blue" data-i18n="button.home"></a>' to continue _
                </p>

            </span>
        </div>
    </div>
    <div class="footer">
        2014 © Campusca
    </div>
</section>