<div class="sixteen columns">
    <h1 class="remove-bottom" style="margin-top: 40px" data-i18n="app.name"></h1>
    <h5 data-i18n="button.login"></h5>
    <button id="lang_tr" data-i18n="button.tr"></button>
    <button id="lang_en" data-i18n="button.en"></button>
    <hr />
</div>
<div class="sixteen columns">
    <input type="text" id="username" data-i18n="[placeholder]placeholder.username"/>

    <input type="text" id="password" data-i18n="[placeholder]placeholder.password"/>

    <button type="submit" id="login_ok" data-i18n="button.login"></button>
</div>